%default-transition {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

%list-style-none {
    list-style: none;
}

%clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

%img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

%absolute-whole-block {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

%translate-center-x {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

%translate-center-y {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

%translate-center-xy {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

%placeholder-style {
    &::-webkit-input-placeholder {
        color: #666;
        font-family: Verdana;
    }
    &::-moz-placeholder {
        color: #666;
        font-family: Verdana;
    }
    &:-moz-placeholder {
        color: #666;
        font-family: Verdana;
    }
    &:-ms-input-placeholder {
        color: #666;
        font-family: Verdana;
    }
}

%overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
}


%grayscale {
    filter: url('data:image/svg+xml;utf8,<svg%20xmlns=\'http://www.w3.org/2000/svg\'><filter%…200.3333%200.3333%200%200%200%200%200%201%200\'/></filter></svg>#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

%default-title {
    font-family: Verdana;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: color('primary');
}

%default-list-center {
    display: table;
    width: 100%;
    font-size: 0;
}
