/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html {
    height: 100%;
}

.container-wrapper {
	 position: relative;
    max-width: gridValue('container-wrapper');
    margin: 0 auto;
}

.container-inner {
	 position: relative;
    max-width: gridValue('container-inner');
    margin: 0 auto;
}


/*END:base*/
