@import 'assets/settings';

/* .category-block */

.main-block {
    a,
    span {
        font-family: Verdana;
        font-size: 13px;
        font-weight: normal;
        color: color('primary');
    }
}

fieldset {
    border: none;
}

.category-block {
    padding: 30px 0;
    background-color: #eff3cf;
    &__title {
        @extend %default-title;
    }
    &__wrapper {
        text-align: center;
    }
    &__list {
        margin-bottom: 0;

        @extend %default-list-center;
    }
    &__item {
        position: relative;
        display: inline-block;
        width: 240px;
        margin-bottom: 30px;
        padding: 10px;
        text-align: center;

        @extend %default-transition;
        &-title {
            width: 94%;
            margin: 0 auto;
            a {
                font-family: Verdana;
                font-size: 18px;
                font-weight: normal;
                text-decoration: underline;
                color: color('primary');
            }
        }
        &--has-children {
            .category-block__item-title {
                > a {
                    position: relative;
                    display: inline-block;
                    &:after {
                        display: inline-block;
                        font-family: 'FontAwesome';
                        font-size: 13px;
                        padding-left: 5px;
                        content: '\f078';
                        text-decoration: none;
                        color: color('primary');
                    }
                }
            }
            &.active {
                background-color: #fff;
                .category-block__item-link,
                .category-block__item-title {
                    position: relative;
                    z-index: 101;
                }
                .category-block__submenu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 100;
                    display: block;
                    width: 100%;
                    padding-top: 150px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.19);
                    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.19);
                    box-shadow: 0 0 8px rgba(0,0,0,0.19);
                }
            }
        }
    }
    &__submenu {
        display: none;
        &-item {
            display: block;
            padding-left: 10px;
            text-align: left;
            a {
                line-height: 24px;
                text-decoration: underline;
            }
        }
    }
}

/* END:.category-block */

/* .hit-block */

.hit-block {
    padding: 42px 0;
    &__title {
        @extend %default-title;
    }
    &__wrapper {
        text-align: center;
    }
    &__list {
        margin-bottom: 0;

        @extend %clearfix;
        @extend %default-list-center;
    }
    &__item {
        display: inline-block;
        float: left;
        width: 24.22%;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #c3c3c3;

        @extend %default-transition;
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:focus {
            -webkit-box-shadow: (0 0 8px rgba(0,0,0,0.19));
            -moz-box-shadow: (0 0 8px rgba(0,0,0,0.19));
            box-shadow: (0 0 8px rgba(0,0,0,0.19)); /* drop shadow*/
        }
        &-title {
            padding-top: 10px;
            a {
                line-height: 30px;
            }
        }
        &-link {
            display: inline-block;
            padding: 10px 0;
            img {
                display: block;
            }
        }
        &-btn {
            display: block;
            font-family: Verdana;
            font-size: 13px;
            font-weight: bold;
            line-height: 30px;
            margin: 0 auto;
            margin-bottom: 10px;
            padding: 5px 28.5px 5px 50.5px;
            color: #fff;
            background-color: #ff1620;
            background-image: url(../img/main/price-cart.png);
            background-repeat: no-repeat;
            background-position: 22px 10px;
            &--inactive {
                background-color: #d8d8d8;
            }
        }
    }
    &__product-item {
        min-height: 36px;
        margin-bottom: 10px;
        padding: 5px;
        .not-available {
            color: #333;
        }
    }
    .priceline {
        &__text {
            color: #333;
        }
        &__value {
            color: #f00;
            &:after {
                content: ' ' attr(data-currency);
            }
        }
    }
}

/* END:.hit-block */

/* .producers-block */

.producers-block {
    padding: 20px 0;
    &__title {
        @extend %default-title;
    }
    &__list {
        @extend %default-list-center;
    }
    &__item {
        display: inline-block;
        width: 20%;
        padding: 20px;
        text-align: center;
    }
}

/* END:.producers-block */

/* .news-block */

.news-block {
    padding: 30px 0px;
    &__wrapper {
        margin-bottom: 20px;
    }
    &__title {
        @extend %default-title;
    }
    &__list {
        margin: 0 -5px;

        @extend %default-list-center;
        @extend %clearfix;
    }
    &__item {
        display: inline-block;
        float: left;
        width: 25%;
        font-family: Verdana;
        font-size: 13px;
        /* margin-right: 10px; */
        margin-bottom: 20px;
        padding: 5px;

        @extend %default-transition;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: #f6f9e7;
        }
        &-title {
            min-height: 35px;
            font-size: 15px;
            a {
                font-weight: bold;
                color: #000;
            }
        }
    }
    &__img {
        &-link {
            display: inline-block;
            margin-bottom: 10px;
            img {
                display: block;
            }
        }
    }
    &__text {
        padding: 5px;
    }
    &__description {
        overflow: hidden;
        max-height: 155px;
        margin-bottom: 20px;
        p {
            overflow: visible;
            line-height: 14px;
            white-space: normal;
            text-overflow: inherit;
            color: #333;

            -o-text-overflow: inherit;
        }
        &-date {
            padding: 10px 0;
        }
    }
}

.news-block__article {
    margin-bottom: 20px;
    &-title {
        font-family: Verdana;
        font-size: 18px;
        padding-top: 20px;
        padding-left: 23px;
        text-transform: uppercase;
        color: color('primary');
    }
    &-description {
        overflow: auto;
        max-height: 280px;
        font-family: Verdana;
        padding: 18px 23px;
        border: 1px dashed #c3c3c3;
        p {
            font-size: 13px;
            color: #000;
        }
        &-title {
            font-size: 18px;
            color: #000;
        }
    }
    &-item {
        font-size: 13px;
        list-style-type: none;
        color: #000;
        &:before {
            display: inline-block;
            font-family: 'FontAwesome';
            content: '\f006';
            color: color('primary');
        }
    }
}


/* END:.news-block */

/* .review-block */

.review-block {
    padding-top: 20px;
    background-color: #f6f9e7;
}

.form-block {
    position: relative;
    font-family: Verdana;
    padding-bottom: 15px;
    /* &__form {
        padding-bottom: 17px;
    } */
    .form__description {
        text-align: center;
        &-title {
            position: relative;
            font-size: 24px;
            padding: 10px 0;
            color: color('primary');
            &:before {
                position: absolute;
                top: 9px;
                left: 40%;
                display: inline-block;
                content: url(../img/main/review-title.png);
            }
        }
        &-text {
            font-size: 15px;
            line-height: 24px;
            color: #000;
            p {
                margin-bottom: 10px;
            }
        }
    }
    .form__main {
        width: 43.23%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-bottom: 34px;
        background-image: url(../img/main/form-bg.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        &-text {
            display: block;
            width: 63.14%;
            font-size: 15px;
            line-height: 26px;
            margin: 0 auto;
            padding: 11px 8px;
            text-align: center;
            border: none;
            border-bottom: 1px solid #393939;
            background-color: transparent;

            @extend %placeholder-style;
        }
        .textarea {
            margin-bottom: 55px;
        }
    }
    &__img {
        position: absolute;
        left: 30px;
        bottom: 0;
        display: inline-block;
    }
}

/* .star-rating */

.star-rating {
    font-size: 0;
    text-align: center;
    &__wrap {
        display: inline-block;
        font-size: 1rem;
        &:after {
            display: table;
            clear: both;
            content: '';
        }
    }
    &__ico {
        float: right;
        padding-left: 10px;
        cursor: pointer;
        color: #949100;
        &:last-child {
            padding-left: 0;
        }
    }
    &__input {
        display: none;
    }
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
    content: '\f005';
}

/* .star-rating */

.form__submit {
    margin-bottom: 10px;
    text-align: center;
    .captcha {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &-btn {
        font-family: Verdana;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;
        padding: 13.5px 31.5px;
        text-transform: uppercase;
        color: #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background-color: #009a00;
    }
}


/* END:.review-block */
