@import 'assets/settings';

/* .category-block */

.main-block {
    a,
    span {
        font-family: Verdana;
        font-size: 13px;
        font-weight: normal;
        color: color('primary');
    }
}

.category-block {
    padding: 30px 0;
    background-color: #eff3cf;
    &__title {
        @extend %default-title;
    }
    &__wrapper {
        text-align: center;
    }
    &__list {
        margin-bottom: 0;

        @extend %default-list-center;
    }
    &__item {
        position: relative;
        display: inline-block;
        width: 240px;
        padding: 10px;
        text-align: center;

        @extend %default-transition;
        &-title {
            a {
                font-family: Verdana;
                font-size: 18px;
                font-weight: normal;
                text-decoration: underline;
                color: color('primary');
            }
        }
        &--has-children {
            .category-block__item-title {
                > a {
                    position: relative;
                    display: inline-block;
                    &:after {
                        display: inline-block;
                        font-family: 'FontAwesome';
                        font-size: 13px;
                        padding-left: 5px;
                        content: '\f078';
                        text-decoration: none;
                        color: color('primary');
                    }
                }
            }
            &.active {
                background-color: #fff;
                .category-block__item-link,
                .category-block__item-title {
                    position: relative;
                    z-index: 101;
                }
                .category-block__submenu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 100;
                    display: block;
                    width: 100%;
                    padding-top: 150px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.19);
                    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.19);
                    box-shadow: 0 0 8px rgba(0,0,0,0.19);
                }
            }
        }
    }
    &__submenu {
        display: none;
        &-item {
            display: block;
            padding-left: 10px;
            text-align: left;
            a {
                line-height: 24px;
                text-decoration: underline;
            }
        }
    }
}

/* END:.category-block */

/* .hit-block */

.hit-block {
    padding: 42px 0;
    &__title {
        @extend %default-title;
    }
    &__wrapper {
        text-align: center;
    }
    &__list {
        @extend %clearfix;
        @extend %default-list-center;
    }
    &__item {
        display: inline-block;
        float: left;
        width: 24.22%;
        margin-right: 10px;
        border: 1px solid #c3c3c3;
        &:last-child {
            margin-right: 0;
        }
        &-title {
            a {
                line-height: 30px;
            }
        }
        &-link {
            display: inline-block;
            padding: 10px 0;
            img {
                display: block;
            }
        }
        &-btn {
            display: block;
            font-family: Verdana;
            font-size: 13px;
            font-weight: bold;
            line-height: 30px;
            margin: 0 auto;
            margin-bottom: 10px;
            padding: 5px 28.5px 5px 50.5px;
            color: #fff;
            background-color: #ff1620;
            background-image: url(../img/main/price-cart.png);
            background-repeat: no-repeat;
            background-position: 22px 10px;
            &--inactive {
                background-color: #d8d8d8;
            }
        }
    }
    &__product-item {
        margin-bottom: 10px;
        padding: 5px;
        .not-available {
            color: #333;
        }
    }
    .priceline {
        &__text {
            color: #333;
        }
        &__value {
            color: #f00;
            &:after {
                content: ' ' attr(data-currency);
            }
        }
    }
}

/* END:.hit-block */

/* .producers-block */

.producers-block {
    padding: 20px 0;
    &__title {
        @extend %default-title;
    }
    &__list {
        @extend %default-list-center;
    }
    &__item {
        display: inline-block;
        width: 20%;
        padding: 20px;
    }
}

/* END:.producers-block */

/* .news-block */

.news-block {
	padding: 30px 0px;
    &__wrapper {
        margin: 20px;
    }
    &__title {
        @extend %default-title;
    }
    &__list {
        margin: 0 -5px;

        @extend %default-list-center;
        @extend %clearfix;
    }
    &__item {
        display: inline-block;
        float: left;
        width: 25%;
        font-family: Verdana;
        font-size: 13px;
        padding: 0 5px;
        &-title {
            min-height: 35px;
            font-size: 15px;
            a {
                font-weight: bold;
                color: #000;
            }
        }
    }
    &__img {
        &-link {
            display: inline-block;
            img {
                display: block;
            }
        }
    }
    &__description {
        p {
            color: #333;
        }
    }
}

.news-block__article {
    &-title {
        font-family: Verdana;
        font-size: 18px;
        text-transform: uppercase;
        color: color('primary');
    }
    &-description {
        font-family: Verdana;
        padding: 18px;
        border: 1px dashed #c3c3c3;
        p {
            font-size: 13px;
            color: #000;
        }
        &-title {
            font-size: 18px;
            color: #000;
        }
    }
    &-item {
        font-size: 13px;
        list-style-type: none;
        color: #000;
        &:before {
            display: inline-block;
            font-family: 'FontAwesome';
            content: '\f006';
            color: color('primary');
        }
    }
}


/* END:.news-block */
