/*footer*/

.site-footer {
	background-color: #fff;
	background-image: url(../img/main/footer-bg.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	.container-inner {
		padding: 50px 0;
		@extend %clearfix;
	}
}


.footer-contacts{
	float: left;
	width: 50%;
	&__copyright {
	font-family: Verdana;
	font-size: 13px;
	color: #333;
	
}
}

.footer-counter {
	float: right;
	width: 25%;
	&__img {
		padding: 13px 30px;
	}
}

/*END:footer*/