@import 'assets/settings';

/*header*/

.site-header {
	background-color: #fff;
}

.container-wrapper {
	background-image: url(../img/main/header-bgi.jpg);
	background-repeat: no-repeat;
}

.socials-block {
	&__list {
		&-item {
			display: inline-block;
		}
	}
}

@each $socialLink in $socialLinks {
	.socials-block__list-item.#{$socialLink} {
		.socials-block__list-link {
			background-color: color('#{$socialLink}');
		}	
	}
}


/*END:header*/